<div class="card-container">
  <div class="card">
    <div class="side"></div>
    <div class="side back">
    <p> My name is Stefan Munteanu and I am an artist and illustrator based in Portsmouth, United Kingdom.
       graduated from the University of Portsmouth with a First Class degree in Illustration.
       Certified in Adobe Visual Design software, such as Photoshop, Illustrator and InDesign. Some of my current
       projects include book illustrations, children’s book illustrations, posters, and prints.
    My work is focused on portraying the fusion of the natural human instinct with the norms and values of society.
    I strive to make enquiries into our decrepit notion of beauty by embracing a style which is foul in its sombre conviction.
    I declare war against the masses, war against the average. I declare war for the sake of war.
    My illustrations exude the ideology that drives me: I do not hide behind the comfortable ordinary,
     nor do I settle with realism. I push my art beyond what pleases the eye or terrifies the soul.
     I shape reality and forge new realms with each movement of my hand.
  </p>
  <h1>Tools and Media</h1>
  <p>
    I tend to express myself mostly through traditional media but I am skilled in Adobe software as well.
    Both my digital illustrations and traditional ones oscillate between a general monochrome hue and opulent shades from the obscure side of the colour spectrum.</p>
</div>
  </div>
</div>
