<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-group">
        <div class="card-header">
          <button class="btn btn-danger">Who in the name of art am I?</button>
        </div>
      </div>
    </div>
  </div>
</div>
