<div id="wrap">
  <div class="about c">
    <div class="row">
      <div class="col-lg-3">

      </div><!-- centering -->
      <div class="container-fluid col-lg-6" id="about">
        <div class="about-content">
          <h1 class="text-center">More about me</h1>
          <p>
            skanjdkjasndkjnsafkjnasjkfnaskfnsaknfkjasnfkjnsakjnfdkj
            asdasdknaskdnsakndkasndjksandjknaskjdnksajndkjasndkjnaskjdnas
            asdasdasdsadsadascazjkcnkzxj ckjzx ckjz xck xzck zxkcjnafknfdkadn
          </p>
          <p>
            skanjdkjasndkjnsafkjnasjkfnaskfnsaknfkjasnfkjnsakjnfdkj
            asdasdknaskdnsakndkasndjksandjknaskjdnksajndkjasndkjnaskjdnas
            asdasdasdsadsadascazjkcnkzxj ckjzx ckjz xck xzck zxkcjnafknfdkadn
          </p>
          <p>
            skanjdkjasndkjnsafkjnasjkfnaskfnsaknfkjasnfkjnsakjnfdkj
            asdasdknaskdnsakndkasndjksandjknaskjdnksajndkjasndkjnaskjdnas
            asdasdasdsadsadascazjkcnkzxj ckjzx ckjz xck xzck zxkcjnafknfdkadn
          </p><p>
            skanjdkjasndkjnsafkjnasjkfnaskfnsaknfkjasnfkjnsakjnfdkj
            asdasdknaskdnsakndkasndjksandjknaskjdnksajndkjasndkjnaskjdnas
            asdasdasdsadsadascazjkcnkzxj ckjzx ckjz xck xzck zxkcjnafknfdkadn
          </p>
        </div><!--about-content-->
      </div><!--container-fluid-->
    </div><!--row-->
  </div><!--about-->
</div><!--wrap-->
