<div id="wrap">
      <div class="contact">
        <div class="row">
          <div class="container-fluid" id="contact">
            <h1 class="c">bla bla bla please contact me</h1>
            <div class="contact-content">
              <form>
                <p>
                  First name
                </p>
                <input class="form-control" />
                <br />
                <p>
                  Last name
                </p>
                <input class="form-control" / />
                <br />
                <p>
                  Email address
                </p>
                <input class="form-control" />
                <br />
                <p>
                  Telephone number
                </p>
                <input class="form-control" />
                <br />
                <button class="btn btn-danger">
                  <a href="">Submit</a>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
