<div class="section" id="section">
  <div class="container landing">
    <div class="row">
      <div class="col-sm-12">
        <div class="landing-quote">
          <p>Fresh from within:
             a mixture of psychological
             subtleties – fatal to the lucid mind,
             vital to instinct.
          </p>
          <small>- Stefan Munteanu</small>

        </div>
        <h2><span>Welc</span>ome to <span>Mun</span> Illustra<span>tions</span></h2>
        <div class="landing-img">
          <button class="btn btn-primary"><%= link_to "Check my work", images_path %></button>
        </div>
      </div>
    </div>
  </div>
</div>
