<div class="section" id="section">
  <div class="container landing">
    <div class="row">
      <div class="col-sm-12">
        <h2><span>Welc</span>ome to <span>Mun</span> Illustra<span>tions</span></h2>
        <div class="landing-img">
          <button class="btn btn-primary"><%= link_to "Check my work", images_path %></button>
        </div>
      </div>
    </div>
  </div>
</div>
