
/*about*/
.about {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
  bottom: 50px;
}
.about-content h1 {
  margin-bottom: 70px;
  font-weight: normal;
}
.about-content p{
  font-size: 1.5em;
  font-weight: lighter;
}
